<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Jastip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card routerLink="/jastip-detail">
    <ion-card-header>
      <ion-card-title>Jastip Jepang 🇯🇵</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Berangkat: 10 Juli
      <br>
      Fee: Rp50.000
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Jastip Korea 🇰🇷</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Berangkat: 15 Juli
      <br>
      Fee: Rp40.000
    </ion-card-content>
  </ion-card>

</ion-content>