// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  /** Primary Amigo Theme **/
  --ion-color-primary: #0abab5; 
  --ion-color-primary-rgb: 10, 186, 181;
  
  /** Latar Belakang Putih Bersih **/
  --ion-background-color: #ffffff; 
  --ion-background-color-rgb: 255, 255, 255;

  /** Warna Teks Gelap agar Terbaca **/
  --ion-text-color: #333333;
  --ion-text-color-rgb: 51, 51, 51;
}