<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TravelerHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card routerLink="/jastip-list">
    <ion-card-header>
      <ion-card-title>Jasa Titip</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Titip beli barang dari luar kota atau luar negeri
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/guide-list">
    <ion-card-header>
      <ion-card-title>Local Guide</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jelajahi kota bersama mahasiswa lokal
    </ion-card-content>
  </ion-card>

</ion-content>